<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon app Express</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
    <h1>
        <%= pageTitle %>
    </h1>
    <p>
        <%= message %>
    </p>
    <ul>
        <% users.forEach((user)=> { %>
            <li>
                <%= (user.firstName)%>
            </li>
            <% }) %>
    </ul>
</body>

</html>